@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

html,
body {
    min-height: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #121214;
    color: #efefef;
    font-family: 'Roboto', 'monospace', 'sans-serif';
}

#page-title {
    font-family: 'Chakra Petch', 'monospace', 'sans-serif';
    width: 100%;
    font-weight: 500;
    font-size: 34px;
    padding: 10px 20px;
}

#page-title span::before {
    content: '< ';
}

#page-title span::after {
    content: ' /> ';
}

.container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    padding: 10px 20px;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    #page-title {
        text-align: center;
        font-size: 28px;
    }
}