.presentation {
    width: 100%;
    max-width: 1100px;
}

.presentation .text {
    color: #efefefe8;
    font-family: 'Chakra Petch', 'monospace', 'sans-serif';
    font-size: 20px;
}

.presentation .text p {
    line-height: 1.35em;
    text-align: justify;
    margin-bottom: 20px;
}

.presentation img {
    float: right;
    height: 350px;
    width: auto;
    margin: 0 0 15px 15px;
    border-radius: 20px;
}

@media screen and (max-width: 600px){
    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .presentation .text {
        font-size: 18px;
    }

    .presentation img {
        float: none;
        margin: 15px 0 30px 0;
        width: 95%;
        height: auto;
    }
}